.brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: .3125rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.brand img {
    height: 32px;
    width: 32px;
    vertical-align: middle;
}



#toggler {
    transition: ease 100ms;
    width: 100%;
    font-weight: bold;
    background: #fff;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

#toggler:hover {
    transition: ease 100ms;
    background-color: #aaa;
}