@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
html, body {
    width: 375px !important;
    height: 600px !important;
    overflow: hidden;
    color: #000;
    background-color: #f0f0f0;
    margin: 0px;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    border-bottom: #000 solid 1px;
    background-color: #fff;
    display: flex;
    padding: 10px;
}

.header img {
    width: 36px;
    height: 36px;
    user-select: none;
}

.nav {
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #000;
    bottom: 0;
    left: 0;
    border-top: rgb(0, 0, 0) solid 1px;
    position: fixed;
    display: flex;
    justify-content: space-around;
}

.nav a {
    font-size: 26px;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    padding: 12px;
    transition: all 0.1s ease;
}

.nav a:hover {
    background-color: #efefef;
}

.nav .selected {
    background-color: #dfdfdf;
}